header{
    /* margin-bottom: 60px; */
}

h1{
    padding: 10px;
    color: white;
    background-color: rgb(63, 151, 173);
}

body{
    /* possibly fix scale to size */
    background-image: url("https://images.unsplash.com/photo-1472437774355-71ab6752b434?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2467&q=80");
}

.content{
    overflow: hidden;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    background: rgba(38, 39, 39, 0.603);
    width: 100%;
    color: white;
    border-top: 5px solid rgb(63, 151, 173);
}