h1{
    padding: 10px;
    color: white;
    background-color: rgb(63, 151, 173);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    /* background image by Greg Rakozy */
    background-image: url("Assets/Images/backgroundImage.jpg");
    background-size: cover;
    /* overflow: hidden; */
}

#spacing{
    padding-top: 90px;
    padding-bottom: 90px;
}

h2{
    color: rgb(63, 151, 173);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.social{
    position: relative;
    width: 350px;
    height: 350px;
}
/* > a means all anchor (a) tags following social class */
/* tutor: parent needs to be position relative, child needs to be position absolute transform: translate changes origin of the element to middle rather than top left */
.social > a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer{
    height: 64px;
    width: 100%;
} 

/* old sticky-footer styling from multiple attempts:( */
/* .container{
    min-height: 100%;
    height: auto !important;
    height:100%;
} */
/* .push{
    height:64px;
    margin-bottom: auto;
} */

/* .footer{ */
    /* position: absolute; */
    /* left: 0;
    bottom: 0;
    height: 142px;
    text-align: center;
    background: rgba(23, 24, 24, 0.897);
    width: 100%;
    color: white;
    border-top: 5px solid rgb(63, 151, 173);
}  */