header{
    
}

h1{
    padding: 10px;
    color: white;
    background-color: rgb(63, 151, 173);
}

body{
    /* background image */
    background-image: url("Assets/Images/backgroundImage.jpg");
    background-size: contain;
    /* overflow: hidden; */
}

#spacing{
    padding: 90px;
}

h2{
    color: rgb(63, 151, 173);
}


footer{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    background: rgba(23, 24, 24, 0.897);
    width: 100%;
    color: white;
    border-top: 5px solid rgb(63, 151, 173);
}
